ssh_key            = "c:\\PATH\\TO\\.ssh\\id_rsa"
ssh_fingerprint    = "SSH Fingerprint from Digital Ocean"

namecheap_username = "NameCheap Username"
namecheap_api_user = "NameCheap API User"
namecheap_api_key  = "NameCheap API Token"
do_token           = "DigitalOcean API Token"

servers            = ["ServerNames"] # Define Multiple server names here
cert_pass          = "atakatak"
map_endpoint       = "/MAP_ENDPOINT-Including-Slash"
telegram_token     = "TelegramToken"